.title {font-family: Roboto}
body {
	margin: 0;
}

.main-section {
	margin: auto;
	width: 80;
}
.wrapper {
	margin: auto;
	width: 80%;
}

.header {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
}
.logo..menu{
	display: inline-block;
}
.logo {
	font: bold 32px/31px pt_serif, arial, helvetica, sans-serif;
	font-weight: bold;
	width: 190px;
	height: 35px;
	background: url('img/logo.svg');
	position: relative;
	border: 1px red;
}
.logo_cirvle{
	width: 28px;
	height: 28px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	border-radius: 50%;
	opacity: .7;
}
.logo__circle_color_dark-blue{
	background: #0056EC;
}
.logo__circle_color_blue{
	left: 8px;
	top: 56%;
	background: #C8DBFB;
}
.menu{
	display: flex;
	align-items: center;
}
.menu__item{
	position: relative;
	margin-right: 2px;
	padding-left: 3px;
	padding: 0 13px;
	font: 500 18px/21px Roboto,arial,helvetica,sans-serif;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}
.menu__item:last-child{
	margin-right: 0;
}
.menu__item_active::after{
	display: block;
	content:'';
	width: 68px;
	height: 3px;
	background: #0056EC;
	position: absolute;
	left: 0;
}
.menu__item:hover{
	color: red;
	opacity: 0.5;
}
.menu__item:hover:after{
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background: #0056EC;
}
.menu__item::after{
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	left: 0;
}
.menu__item:hover::after{
	position: absolute;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	background: #0056EC;
	color: #000;
}
.menu__item:hover:after, .menu__item_active:after{
	opacity: 1;
}
.main{
	padding: 43px 63% 275px 0;
	background: top right: no-repeat url('img/Frame.svg');
	background-size: 49em;
}
.main-content{
	padding-top: 129px;
	background: url('img/Frame.svg');
	background-repeat: no-repeat;
	background-position: 98% 122px;
	background-size: contain;
}
.main-content__title{
	margin-bottom: 0 0 40px 0;
	font: bold 68px/92px pt_serif,arial,helvetica,sans-serif;
	width: 35%;
}
.main-content__subtitle{
	margin-top: 0 0 41px 0;
	margin-top: 30px;
	margin-bottom: 41;
	font: 23px/19px Roboto,arial,helvetica,sans-serif;
	width: 32%;
}
.main{
	padding-top: 100px;
	width: 40%;
}
.main__title{
	margin: 0 0 29px 0;
	padding-top: 42px;
	width: 567px;
	//height: 190px;
	font: 700 66px/87px pt_serif,arial,helvetica,sans-serif;
}
.main__subtitle{
	margin: 0 0 52px 0;
	width: 455px;
	height: 43px;
	font: 500 22px/26px roboto,arial,helvetica,sans-serif;
}
.main{
	padding-right: 63%;
	background: url('img/Frame.svg');
	background-repeat: no-repeat;
	background-position: top right;
}
.main{
	padding-top: 100px;
	padding-right: 63%;
	background: top right no-repeat url('img/Frame.svg');
	background-position: top right;
}

.main {
	padding: 0 63% 100px 0;
	background: top right no-repeat url('img/Frame.svg');
	
}
.main__title-text_highlight{
	background: #ECF3FF;
}
.main__button {
	display: inline-block;
	font: 500 18px/21px Roboto,arial,heletica,sans-serif;
	color: #fff;
	background: #0056EC;
	padding: 19px 41px 20px 20px;
	text-decoration: none;
	border-radius:4px;
	transition: opacity: .5s;
}
main__button:hover {
	opacity: .5;
}
.title{
	font-family:
}